*{
    text-decoration: none;
    box-sizing: content-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    padding: 20px 0;
}
.navbar .container{
    padding: 0 85px !important;
}
.nav-link{
    color: #959aa5 !important;
    font-weight: 700;
}