*{
    text-decoration: none;
    box-sizing: content-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    padding: 30px 0;
}

.nav-link{
    color: #535281 !important;
    font-weight: 700;
}
.nav-item .active, .nav-link:hover{
    color: #000 !important;
}
.header .container{
    border-radius: 25px;
    padding: 100px 0 125px;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
}
.header .text{
    padding-bottom: 60px;
}
.header h2{
    font-weight: 800;
    font-size: 62px;
}
.header p{
    line-height: 32px;
}
.nav-item .disabled{
    color: #f6f5fb !important;
    font-size: 25px;
}
.header-form{
    position: relative;
    top: -40px;
}
.header-form form{
    height: 80px;
    background: #fff;
    border-radius: 40px;
    margin-bottom: 45px;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
}
.header-form button{
    height: 60px;
    background: #01cf66;
    border-radius: 30px;
    border: none;
    color: #fff;
    margin: 10px 15px;
}