<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @(ChosenLanguage ?? Languages.First())
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var lang in Languages)
        {
            <li>
                <a class="dropdown-item" href="#"
                @onclick="@(() => ChosenLanguage = lang)">
                    @lang
                </a>
            </li>
        }
    </ul>
</li>

@code {
    public IEnumerable<String> Languages { get; set; } = 
        new[] { "English", "Uzbek", "Russian" };

    public string ChosenLanguage { get; set; }
}
