<div id="components-reconnect-modal">
    <div class="reconnecting">
    </div>
    <div class="failedToConnect">
    </div>
    <div class="connectionRejected">
    </div>
</div>

<!--For overriding default Blazor server connection messages-->